.section {
  padding-top: 10vh;
  width: 100%;
  min-height: 90vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container__hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.blocks__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: linear-gradient(45deg, rgba(100, 149, 237, 0.5), rgba(70, 130, 180, 0.3)), url(./../PNG/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 20px;
  width: 90%;
}

.list__blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 2rem;
  border-radius: 20px;
}

.el__list {
  color: #970a0a;
  position: relative;
  min-width: 6rem;
  min-height: 9rem;
  width: 18%;
  margin-right: 2%;
  background-image: url("./../PNG/default.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 1rem;
  border-radius: 15px;
}
.el__list:nth-child(5n) {
  margin-right: 0;
}
.el__list:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-box-shadow: inset 5px 5px 10px 3px white;
          box-shadow: inset 5px 5px 10px 3px white;
  background: linear-gradient(45deg, rgba(9, 95, 64, 0.318), rgba(14, 44, 72, 0.318)), url(./../PNG/default.jpg);
}

.linck__el__list {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.title {
  font-size: 2.2rem;
  font-weight: bold;
  color: black;
  padding-left: 2rem;
  width: 30rem;
}