@mixin tablets {
    @media screen and (max-width: 900px) {
        @content;
    }
  }
  @mixin phones {
    @media screen and (max-width: 460px) {
        @content;
    }
  }
 
.hero__section {
    width: 100%;

}
.section__description {
    width: 100%;
    margin-bottom: 1rem;

    @include phones(){
        height: auto;
    }
}

.container__description  {
    width: 80%;
    display: flex;
    flex-direction: column;
    background: linear-gradient(45deg, rgba(54, 61, 75, 0.759), rgba(70, 130, 180, 0.3)), url(./../PNG/bgKar.jpg); 
    padding: 2rem 0;
    border-bottom-right-radius: 50%;
    border-top-left-radius: 50%;
    @include phones() {
        width: 100%;
        border-radius: 20px;
        padding: 0;
    }

}
.container__description__main {
    @include phones() {
        height: auto;
    }
}
  .section__description {
      flex-direction: column;
  }
.description__list {
    width: 100%;
    display: flex;
    justify-content: center;
}
.el__list__desc {
    list-style: url("./../PNG/stonepng.png") outside;
    font-weight: bold;
    font-size: 1.4rem;
    margin-bottom: 3rem;
    @include phones() {
        margin-bottom: 1rem;
        font-size: 1.2rem;
    }
    align-items: center;
    display: flex;
    color: #fff;

    &:nth-last-child(1) {
        margin-bottom: 0;
    }
}
.list__desc {
    width: 90%;
}
.wrapper__img__icon {
    width: 3rem;
    @include phones() {
        width: 7rem;
    }
}
.img__icon {
    width: 100%;
}
.title__form__name {
    text-align: center;
    color: #fff;

}
h1 {
    padding: 0;
    
}