@mixin phones {
    @media screen and (max-width: 460px) {
        @content;
    }
  }
.section__contacts {
    display: flex;
    line-height: 1;
    color: black;
    justify-content: center;
    align-items: center;
    height: 100vh;
    @include phones() {
        height: auto;
    }
    
}
.container__cotacts {
    width: 90%;
    height: 100%;
    display: flex;
    background: linear-gradient(45deg, rgba(100, 149, 237, 0.5), rgba(70, 130, 180, 0.3)), url(./../PNG/bgtitle.jpg); 
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    border-radius: 20px;
    @include phones() {
        flex-direction: column;
        width: 100%;
        padding: 1rem;
    }
    
}
.list__contacts {
    display: flex;
    flex: 5;
    height: 50%;
    justify-content: space-around;
    @include phones() {
        justify-content: space-between;
        
    }
}
.logo__img__contacts {
    width: 90%;
}
.wrapper__img__logo__contacts {
    flex: 5;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    @include phones() {
        flex: 2;

    }
}
.list__elemet__contacts {
    display: flex;
    flex-direction: column;
    padding-left: 1rem;
}
.title__name__el {
    margin-bottom: 2rem;
    font-size: 2.2rem;
    font-weight: bold;

    @include phones() {
        margin-bottom: 0.5rem;

    }
}
.el__rec {
    margin-bottom: 1rem;
    font-size: 1.4rem;
    @include phones() {
        font-size: 1rem;
        margin-bottom: 0.2rem;
        font-weight: 500;
    }
    
}

.list__contacts {
    display: flex;
}
.list__elemet__contacts {
    flex: 1;
}